.mootree li {
	list-style-type: none;
}
.mootree_ctrl, .mootree_ctrl {
	position: relative;
	float: left;
	margin-left: -12px;
	width:0px;
	height:0px;
	cursor: pointer;
}
.mootree_more, .mootree_more {
	border-left: 5px solid #000;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	top: 3px;
}
.mootree_less,.mootree_less {
	margin-left: -14px;
	border-left: 5px solid transparent;
	border-top: 5px solid #000;
	border-right: 5px solid transparent;
	top: 5px;
} 
